# =========================
# Training outputs
# =========================
Checkpoints/
*.pth
*.pt

# =========================
# Data (DO NOT COMMIT)
# =========================
data/Raw_TIF_Input/
data/Train_Data_Yearly_120/
data/Train_Data_Yearly_160/
data/Train_Data_Yearly_Coords/
*.npy
*.npz
*.tif
*.tif.aux.xml

# =========================
# Logs / cache
# =========================
__pycache__/
*.pyc
*.csv
*.log
